.portfolio {
	display: flex;
	width: 1300px;
	flex-direction: column;
	grid-auto-flow: dense;
	justify-content: space-around;
	background-color: #fdf0e9;
	padding: 50px;
}

.portfolio button {
	padding: 10px;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

.toolbar {
	text-align: center;
}

.items img {
	float: left;
	width: 300px;
	height: 350px;
	border-radius: 7px;
	padding: 5px;
	width: 300px;
	margin: 2px;
	border-radius: 10px;
}

@media screen and (max-width: 1040px) {
	.portfolio {
		display: grid;
		background-color: #fdf0e9;
	}
	.items {
		justify-self: center;
	}
	.items img {
		padding-left: 50px;
		float: none;
		border-radius: 10px;
	}
}
