.header {
	display: grid;
	grid-template-areas:
		'a n n n n n b '
		'p p p p p p p'
		'p p p p p p p';
	background-color: #28293e;
	color: #ffffff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding: 50px;
	width: 1300px;
}

.header__button button {
	grid-area: b;
	justify-self: left;
	border-radius: 3px;
	padding: 8px 20px;
	border: 1px solid white;
	background-color: #28293e;
	color: #b1b2b9;
	font-size: 8px;
	font-weight: bold;
}
.header p {
	font-size: small;
	color: #b1b2b9;
}
.header__agency {
	grid-area: a;
	justify-self: right;
	font-size: medium;
	font-weight: bold;
}
.header__nav {
	grid-area: n;
	display: flex;
	justify-content: space-evenly;
}
.header__nav a {
	color: #b1b2b9;
	text-decoration: none;
	font-size: small;
}
.header__nav__item {
	display: flex;
	justify-content: space-evenly;
}
.header__portfolio {
	grid-area: p;
	text-align: center;
	padding: 50px;
}
@media all and (max-width: 1040px) {
	.header {
		display: grid;
		grid-template-areas:
			'a'
			'p'
			'p';
	}
	.header__nav {
		display: none;
	}
	.header__button button {
		display: none;
	}

	.header__portfolio {
		grid-area: p;
		justify-self: center;
	}
	.header__portfolio p {
		justify-self: center;
	}
	.header__agency {
		grid-area: a;
		justify-self: center;
	}
}
