html,
body {
	background-color: #fdf0e9;
	padding: 0;
}
.app {
	display: flex;
	justify-content: center;
}
.header {
	background-color: #28293e;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header__agency {
	/* border: 1px solid red; */
	color: #ffffff;
	font-size: small;
	padding-top: 5px;
}
.header__navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header__navbar button {
	display: flex;
	color: #ffffff;
	padding: 7px 10px;
	font-size: xx-small;
	background-color: #28293e;
	border: 0.5px solid #ffffff;
	border-radius: 3px;
}

.header__portfolio {
	text-align: center;
	padding-bottom: 20px;
	color: #ffffff;
	font-size: small;
}
.header__portfolio p {
	font-size: xx-small;
}

.header__nav {
	display: flex;
	width: 33%;
	justify-content: space-around;
	padding: 5px;
}

.header__nav__item a,
li {
	list-style-type: none;
	color: #ffffff;
	text-decoration: none;
	font-size: xx-small;
}

.portfolio {
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.toolbar {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}
.toolbar button {
	white-space: nowrap;
	font-size: xx-small;
	border: none;
	background-color: #fdf0e9;
	padding: 5px;
	margin: 0 auto;
}
.cards-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-left: 100px;
	margin-right: 100px;
}
.image img {
	padding: 5px;
	width: 200px;
	height: 200px;
}
.footer {
	text-align: center;
}
.footer button {
	border: none;
	padding: 7px 10px;
	background-color: #ffffff;
	font-size: xx-small;
	font-weight: bold;
	border-radius: 3px;
}
@media all and (max-width: 1040px) {
	.header__nav {
		display: none;
	}
	.header__button button {
		display: none;
	}
	.header__portfolio {
		justify-self: center;
	}
	.header__portfolio p {
		text-align: center;
	}
	.header__agency {
		width: 100%;
		text-align: center;
	}
	.cards-wrapper {
		display: block;
		margin: 0 auto;
	}
}
