html,
body {
	background-color: #fdf0e9;
	padding: 0;
}
.app {
	display: flex;
	justify-content: center;
}
.header {
	background-color: #28293e;
}
h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 50px;
}
.header__agency {
	color: #ffffff;
	font-size: small;
	padding-top: 5px;
}
.header__navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header__navbar button {
	display: flex;
	color: #ffffff;
	padding: 7px 10px;
	font-size: xx-small;
	background-color: #28293e;
	border: 0.5px solid #ffffff;
	border-radius: 3px;
}

.header__portfolio {
	text-align: center;
	padding-bottom: 20px;
	color: #ffffff;
	font-size: medium;
}
.header__portfolio p {
	font-size: x-small;
}

.header__nav {
	display: flex;
	width: 33%;
	justify-content: space-around;
	padding: 5px;
}

.header__nav__item a,
li {
	list-style-type: none;
	color: #ffffff;
	text-decoration: none;
	font-size: x-small;
}

.portfolio {
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.toolbar {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}
.toolbar button {
	white-space: nowrap;
	font-size: x-small;
	border: none;
	background-color: #fdf0e9;
	padding: 5px;
	margin: 0 auto;
}
.cards-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	padding-left: 130px;
	padding-right: 130px;
}
.cards-wrapper .image img {
	position: relative;
	width: 370px;
	height: 415px;
	border-radius: 10px;
}
.cards-wrapper .image button {
	position: relative;
	left: 40px;
	bottom: 150px;
	width: 85px;
	height: 45px;
	border-radius: 20px;
	border: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	z-index: 2;
	cursor: pointer;
}
.cards-wrapper .image span {
	position: relative;
	left: -45px;
	bottom: 100px;
	z-index: 1;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #ffffff;
}

.footer {
	text-align: center;
}
.footer button {
	border: none;
	padding: 7px 10px;
	background-color: #ffffff;
	font-size: xx-small;
	font-weight: bold;
	border-radius: 3px;
}
@media all and (max-width: 1040px) {
	.header__nav {
		display: none;
	}
	.header__button button {
		display: none;
	}
	.image {
		margin: 0 auto;
	}
	.header__portfolio {
		justify-self: center;
	}
	.header__portfolio p {
		text-align: center;
	}
	.header__agency {
		width: 100%;
		text-align: center;
	}
	.cards-wrapper {
		padding-top: 30px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		margin: 0 auto;
	}
	.cards-wrapper .image img {
		width: 330px;
		height: 415px;
		border-radius: 10px;
	}
}
